APP_NAME=Actualización de contribuyentes SII (fuente SII)
APP_HOST=0.0.0.0
APP_PORT=8787
APP_SECRET_KEY=renew.2018
DATABASE_URL=postgresql+psycopg2://taxpayer_hub:taxpayer_hub@localhost:5432/taxpayer_hub
ADMIN_USERNAME=admin
ADMIN_PASSWORD=renew.2018
SEED_API_CLIENT_NAME=odoo-main
SEED_API_CLIENT_KEY=change-me
SMTP_HOST=smtp.azur-soft.com
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_TLS=true
SMTP_FROM=contribuyentes_sii@azur-soft.com
ALERT_EMAIL_TO=contacto@azurtech.cl
SII_DIRECCIONES_URL=https://www.sii.cl/estadisticas/nominas/PUB_NOM_DIRECCIONES.zip
SII_ACTECOS_URL=https://www.sii.cl/estadisticas/nominas/PUB_NOM_ACTECOS.zip
SII_BASE_CONTRIBUYENTES_URL=https://www.sii.cl/estadisticas/nominas/PUB_NOMBRES_PJ.zip
SYNC_WEEKDAY=sun
SYNC_HOUR=3
SYNC_MINUTE=30
